# Easy
Для данных с Титаника обучить модели логистической регресси и решающего дерева на 80% обучающей выборки и проверить результат на 20%. У какой модели результат лучше?

In [108]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [109]:
df = pd.read_csv('../06/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [110]:
df["sex"] = df["Sex"].apply(lambda x: 1 if x=='male' else 0)
x_df = df[['Pclass', 'sex', 'Age', 'SibSp', 'Fare']].fillna(0)
x_df.head()

   Pclass  sex   Age  SibSp     Fare
0       3    1  22.0      1   7.2500
1       1    0  38.0      1  71.2833
2       3    0  26.0      0   7.9250
3       1    0  35.0      1  53.1000
4       3    1  35.0      0   8.0500

In [111]:
y_df = df['Survived']
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, train_size=0.8)
x_train.shape, x_test.shape

((712, 5), (179, 5))

In [112]:
#Логистическая регрессия
model = LogisticRegression(max_iter=1000)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
accuracy_score(y_pred, y_test)

0.7821229050279329

In [113]:
#Решающее дерево
model = DecisionTreeClassifier()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
accuracy_score(y_pred, y_test)

0.7430167597765364

# Normal
Используя кросс-валидацию, применить к данным Титаника модель RandomForestClassifier. Сравнить с первыми двумя моделями.

In [116]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [121]:
LR = cross_val_score(LogisticRegression(), x_train, y_train)
DTC = cross_val_score(DecisionTreeClassifier(), x_train, y_train)
RFC = cross_val_score(RandomForestClassifier(), x_train, y_train)

print(LR)
print(DTC)
print(RFC)

[0.79020979 0.81118881 0.80985915 0.75352113 0.82394366]
[0.73426573 0.79020979 0.73943662 0.79577465 0.76760563]
[0.7972028  0.8041958  0.79577465 0.81690141 0.80985915]